$gray-100: #EDF2F7;
$gray-200: #E2E8F0;
$gray-300: #CBD5E0;
$gray-400: #A0AEC0;
$gray-500: #718096;
$gray-600: #4A5568;
$gray-700: #2D3748;
$gray-800: #1A202C;
$gray-900: #171923;


$whiteAlpha-50: rgba(14, 10, 10, 0.04);
$whiteAlpha-100: rgba(255, 255, 255, 0.06);
$whiteAlpha-300: rgba(255, 255, 255, 0.16);
$whiteAlpha-400: rgba(255, 255, 255, 0.24);

$blue-50: #ebf8ff;
$blue-100: #bee3f8;
$blue-200: #90cdf4;
$blue-300: #63b3ed;
$blue-400: #4299e1;
$blue-500: #3182ce;
$blue-600: #2b6cb0;
$blue-700: #2c5282;
$blue-800: #2a4365;
$blue-900: #1A365D;
