$fontWeights-hairline: 100;
$fontWeights-thin: 200;
$fontWeights-light: 300;
$fontWeights-normal: 400;
$fontWeights-medium: 500;
$fontWeights-semibold: 600;
$fontWeights-bold: 700;
$fontWeights-extrabold: 800;
$fontWeights-black: 900;
