$fontSizes-xs: 0.75rem;
$fontSizes-sm: 0.875rem;
$fontSizes-md: 1rem;
$fontSizes-lg: 1.125rem;
$fontSizes-xl: 1.25rem;
$fontSizes-2xl: 1.5rem;
$fontSizes-3xl: 1.875rem;
$fontSizes-4xl: 2.25rem;
$fontSizes-5xl: 3rem;
$fontSizes-6xl: 3.75rem;
$fontSizes-7xl: 4.5rem;
$fontSizes-8xl: 6rem;
$fontSizes-9xl: 8rem;