/backend/package-lock.json
/backend/node_modules
/backend/test.js
/backend/.env

/frontend/package-lock.json
/frontend/node_modules
/frontend/.env
/frontend/build

/extension/package-lock.json
/extension/node_modules
/extension/.env
/extension/build
/extension/build.pem
/extension/build.crx

/scroll-test
/test.js
/test2.js
/test.json